{
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "printWidth": 80,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "crlf",
  "proseWrap": "always",
  "vueIndentScriptAndStyle": true
}
